.login-container {
  background-color: #A66F47;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-container form h2 {
  color: white;
  margin-bottom: 2rem;
}
.login-container form label {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.login-container form input {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.login-container form button {
  background-color: white;
  color: brown;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
}
.login-container form button:hover {
  background-color: #FF4500;
}